{% extends 'EcommerceApp/base.html' %}
{% load static %}
{% block title %}Contact us{% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">Contact Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center"><a href="https://github.com/GGeorgiDY">GiHub: </a></p>
            <p class="fs-4 text-center"><a href="https://www.linkedin.com/in/georgi-yordanov-395114125/">LinkedIn</a></p>
            <p class="fs-4 text-center">E-mail: gyordanov94@abv.bg</p>
        </div>
    </div>
    <br>
    <br>
{% endblock main-content %}